// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.super-container {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 30px;
}

body {
  font-family: "Comic Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.left-float {
  float: left;
}

.shape:hover {
  cursor: pointer;
}

.cube {
  width: 357px !important;
  line-height: 28px;
}

hr {
  border-top: 2px solid #A333C8;
}


.actions {
  width: 220px !important;
}

.sides:nth-of-type(odd) {
  background-color: purple;
}

.title-3 {
  margin-top: 5px !important;
}

.center {
  width: 301px !important;
}

@media (max-width: 1200px) {
  .cube {
    width: 300px !important;
    line-height: 28px;
  }
  .center {
    width: 244px !important;
    font-size: 1.6em !important;
  }
}
