<!DOCTYPE html>
<html>
<head>
  <title>Ley de mensajería en colombia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="ui container super-container">
  <%= yield %>
</div>

<div class="ui container">
  <div class="ui purple vertical footer segment form-page">
    <div class="ui container">
      <p class="ui right floated header">
        Juliana Monsalve Hincapié
      </p>
      <p class="ui left floated header">
        Ley de mensajería en colombia 1369 de 2009
      </p>
    </div>
  </div>
</div>

</body>
</html>
